@import "~antd/dist/antd.css";

body {    
    background: #f0f2f5;
}

#root {    
    display: flex;   
    min-height: 100vh;
    flex-direction: column;
 }

 .ant-layout{
     min-width: 450px;
 }

.authCard{    
    max-width: 450;
    /* background: linear-gradient(120deg,rgba(143, 201, 251, 0.5),rgba(143, 201, 251, 0.2));; */
}

.authCard:hover {
    box-shadow: 4px 4px 40px rgba(143, 201, 251, 0.6);    
}

.ant-btn {
    margin-right: 8px; 
}

.ant-row{
    width: 100%;
}


.container {    
    align-items: center;
    justify-content: center;
}

.auth-layout {
    align-items: center;
    justify-content: center;
}

.navbar {
    box-shadow: 0 1px 3px 0;
}

.brand-logo {
    color: #1890ff;
    padding-right: 2em;
}

.menu-row {
    margin-left: auto;
}

.ant-menu-item a.active {
    color: #1890ff ;
}

.ant-menu-item-active {    
    color: #fff !important;
    background: #1890ff !important;
}

.link-card-title {
    font-size: 28px;
    margin-top: 2rem;
}

.ant-layout-content {
    padding: 2rem 50px;
}

.centeredSpinnerAntd{
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

@media screen and (min-width: 680px) {
    
}